@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Silkscreen:wght@400;700&display=swap');

body {
    background-color: #f4e04d;
    border: 2px solid #444444;
    padding: 10px;
}

button {
    background-color: aqua;
}

.game-container {
    margin-top: 50px;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-display {
    display: flex;
    gap: 20px;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #ffffff;
    border: 2px solid #444444;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.card-hidden {
    background-color: #ff4d4d;
}

.arrow {
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.arrow-up {
    background-color: #6fcf97;
}

.arrow-down {
    background-color: #56ccf2;
}

.score-section {
    margin-top: 30px;
    font-size: 16px;
}

#game-level {
    color: red;
    margin-left: 20px;
}